{% extends "base.html" %}
{% load static %}
<html>
<body>
    {% block content %}
    <div class="mx-auto ufop-body border w-75">
        <div class="text-center">
            <h1 style="display: inline;" class="formtitle">Formulário de Alunos</h1>
            <h4 class="mt-2 subsub">Universidade Federal de Ouro Preto</h3>
        </div>
        <div class="mx-2 mt-5">
            <p>
                Preencha este formulário se possui interesse em estudar fora da UFOP por um ou dois semestres.
                <form method="post">
                    {% csrf_token %}
                    <label for="nome">Nome: </label>
                    <input id="nome" type="text" name="nome">
                    <br>
                    <label for="sobrenome">Sobrenome: </label>
                    <input id="sobrenome" type="text" name="sobrenome">
                    <br>
                    <label for="telefone">Telefone: </label>
                    <input id="telefone" type="tel" name="telefone">
                    <br>
                    <label for="data_nascimento">Data de Nascimento: </label>
                    <input id="data_nascimento" type="date" name="data_nascimento">
                    <br>
                    <label for="email">E-mail: </label>
                    <input id="email" type="email" name="email">
                    <br>
                    <input type="submit" value="OK">
                </form>
                <h5 class="devcomment text-center mt-5">- Comentário do desenvolvedor -</h5>
                <p>
                    Ok, isso pode soar estranho, mas a maioria do conteúdo dessa página não é... redundante? Se o aluno está registrado na UFOP, então pegamos a matrícula
                    dele em um query e temos a maioria das informações que ele digita aqui. Isso evitaria possíveis erros de digitação da pessoa, e ainda pouparia tempo
                    dos dois lados.
                    Seria simples de implementar... suponho. Um GET na API da UFOP com o número de matrícula, talvez?
                </p>
            </p>
        </div>
    </div>
    {% endblock %}
</body>
</html>