{% extends "base.html" %}
{% load static %}
<html>
<body>
    {% block content %}
    <div class="mx-auto ufop-body border w-75">
        <div class="text-center">
            <h1 style="display: inline;" class="formtitle">Entrar no Sistema</h1>
            <h4 class="mt-2 subsub">Universidade Federal de Ouro Preto</h3>
        </div>
        <div class="mx-2 mt-5">
            <p>
                Entre aqui com seus dados.
                <form method="post">
                    {% csrf_token %}
                    <label for="login">Usuário: </label>
                    <input id="login" type="text" name="login">
                    <br>
                    <label for="password">Senha: </label>
                    <input id="password" type="password" name="password">
                    <br>
                    <input type="submit" value="OK">
                </form>
                <h5 class="devcomment text-center mt-5">- Comentário do desenvolvedor -</h5>
                <p>
                    Sistema de autenticação padrão do Django, mas sem funções administrativas dele por aqui. As funções permanecem no /admin (apenas para quem é superuser)
                </p>
            </p>
        </div>
    </div>
    {% endblock %}
</body>
</html>