{% extends "base.html" %}
{% load static %}
<html>
<body>
    {% block content %}
    <div class="mx-auto ufop-body border w-75">
        <div class="text-center">
            <h1 style="display: inline;" class="formtitle">Registro de Conta</h1>
            <h4 class="mt-2 subsub">Universidade Federal de Ouro Preto</h3>
        </div>
        <div class="mx-2 mt-5">
            <p>
                É necessário ser servidor da UFOP para criar uma conta.
                <form method="post">
                    {% csrf_token %}
                    <label for="login">Usuário: </label>
                    <input id="login" type="text" name="login">
                    <br>
                    <label for="password">Senha: </label>
                    <input id="password" type="password" name="password">
                    <br>
                    <label for="email">E-mail: </label>
                    <input id="email" type="email" name="email">
                    <br>
                    <input type="submit" value="OK">
                </form>
                <h5 class="devcomment text-center mt-5">- Comentário do desenvolvedor -</h5>
                <p>
                    A funcionalidade de criação de contas pode ser estendida para alunos com facilidade. Deixei exclusiva para
                    servidores para poupar trabalho.
                </p>
            </p>
        </div>
    </div>
    {% endblock %}
</body>
</html>